header{background-color: #DDD8DE}
header h1,.h1{
	/* 42px/21px */
	font-size:3em;
	line-height:1em
}
/* Remove from here */
/* 
.x-01{background-color:rgba(255,0,0,0.15)}
.x-02{background-color:rgba(255,128,0,0.15)}
.x-03{background-color:rgba(255,255,0,0.15)}
.x-04{background-color:rgba(128,255,0,0.15)}
.x-05{background-color:rgba(0,255,0,0.15)}
.x-06{background-color:rgba(0,255,128,0.15)}
.x-07{background-color:rgba(0,255,255,0.15)}
.x-08{background-color:rgba(0,128,255,0.15)}
.x-09{background-color:rgba(0,0,255,0.15)}
.x-10{background-color:rgba(128,0,255,0.15)}
.x-11{background-color:rgba(255,0,255,0.15)}
.x-12{background-color:rgba(255,0,128,0.15)}
[class*='x-']{
	border:1px solid rgba(128,128,128,0.5);
	padding:0.5em;
}
form [class*='x-']{padding:0;border:0 none}
 */
/* Until here */