/* @RESET */
*,*:before,*:after{box-sizing:border-box;}
html{
	box-sizing:border-box;
	font-family:sans-serif;
	font-size:100%;
	font-weight:normal;
	line-height:1.5em;
	text-rendering:optimizelegibility;
	-ms-text-size-adjust:100%
}
:focus{outline:0 none}
::-moz-focus-inner{border:0 none;padding:0}
[hidden],template{display:none}
a,abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,
dd,del,details,dfn,dialog,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,
h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,
nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strong,sub,summary,sup,
table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{
	background:transparent;
	border:0;
	font-size:100%;
	font-weight:normal;
	margin:0;
	padding:0;
	outline:0 none;
	vertical-align:baseline
}
article,aside,details,figcaption,figure,footer,
header,main,menu,nav,picture,section{display:block}
/* #RESET */
body{
	color:#000000;
	font:normal 14px/1.5em sans-serif;
	height:100%;
	letter-spacing:0;
	margin:0 auto;
	overflow-wrap:break-word;
	position:relative;
	text-align:justify;
	text-rendering:optimizelegibility;
	width:100%;
	word-wrap:break-word;
	z-index:0
}
a,a:link,a:visited,a:hover,a:active{
	color:inherit;
	cursor:auto;
	text-decoration:none;
	overflow-wrap:break-word;
	text-decoration:none;
	text-transform:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
a[href^="http://"].aext,a[href^="https://"].aext,a[href^="mailto:"].aext{
	color:#0066EE;
	cursor:pointer;
	font:italic bold 1em/1.5em sans-serif;
	overflow-wrap:break-word;
	text-decoration:none;
	text-transform:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
a[href^="http://"].aext::after,a[href^="https://"].aext::after,a[href^="mailto:"].aext::after{
	content:"\00a0\0028" attr(href) "\0029\00a0";
	display:inline;
	font:normal 1em/1.5em sans-serif;
	overflow-wrap:break-word;
	text-decoration:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
a.link-favicons{
	color:#0066EE;
	cursor:pointer;
	font:italic bold 1em/1.5em sans-serif;
	overflow-wrap:break-word;
	text-decoration:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
a.link-favicons::after{
	content:"\00A0\00BB\00A0"attr(href)"\00A0";
	display:inline;
	font:normal 1em/1.5em sans-serif
}
a.link-favicons::before{
	content:url("http://www.google.com/s2/favicons?domain_url=none/")"\00A0";
	display:inline;
	vertical-align:middle
}
a.link-favicons.url-001::before{
	content:url("http://www.google.com/s2/favicons?domain_url=https://dribbble.com/")"\00A0"
}
a.link-favicons.url-002::before{
	content:url("http://www.google.com/s2/favicons?domain_url=https://www.facebook.com/")"\00A0"
}
a.link-favicons.url-003::before{
	content:url("http://www.google.com/s2/favicons?domain_url=https://www.google.com/")"\00A0"
}
abbr[title],dfn[title]{
	border:none;
	cursor:help;
	text-decoration:underline;
	text-decoration:underline dotted;
	font-weight:bolder
}
abbr[title]::after,dfn[title]::after{
	border:0 none;
	color:#808080;
	content:"\00A0\0028"attr(title)"\0029\00a0";
	display:inline;
	overflow-wrap:break-word;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
audio,canvas,progress,video{
	display:inline-block;
	vertical-align:baseline
}
audio:not([controls]){
	display:none;
	height:0
}
b,dt,strong{
	font-weight:inherit;
	font-weight:bolder
}
blockquote{
	background:#F6F6F6;
	border-style:solid;
	border-width:0.125em 0.125em 0.125em 0.75em;
	color:#444444;
	font:italic 12px/1.4em "Verdana",sans-serif;
	hyphens:auto;
	margin:0.5em auto;
	padding:0.5em;
	page-break-inside: avoid;
	text-align:left;
	width:75%
}
blockquote[cite]::after{
	color:#AAAAAA;
	content:attr(cite);
	display:block;
	hyphens:auto;
	overflow-wrap:break-word;
	padding:0.5em 0.5em 0;
	text-align:right;
	text-decoration:none;
	white-space:pre-wrap;
	word-wrap:break-word
}
blockquote p{
	display:inline;
	text-align:left
}
cite,dt,em,i,pre mark,q{font-style:italic}
code,kbd,pre,samp,var{
	font:14px/1.25em "Consolas","Courier New",Courier,monospace;
	margin:0.5em 0;
	overflow-wrap:break-word;
	white-space:pre;
	white-space:pre-wrap;
	word-wrap:break-word
}
dd,dt{
	margin:0.5em 0;
	padding:0 0 0 0.5em
}
del,s{text-decoration:line-through}
dialog,dl{
	list-style-position:inside;
	margin:0.5em 0
}
ol,ul{
	list-style:none inside;
	margin:0.5em 0;
	page-break-inside:avoid
}
li{
	margin:0.5em 0;
	padding:0 0 0 0.5em
}
ul li:last-child{margin-bottom:0}
li ul{margin-bottom:0}
.list-circle{list-style-type:circle}
.list-decimal{list-style-type:decimal}
.list-decimal-zero{list-style-type:decimal-leading-zero}
.list-disc{list-style-type:disc}
.list-l-alpha{list-style-type:lower-alpha}
.list-l-roman{list-style-type:lower-roman}
.list-square{list-style-type:square}
.list-u-alpha{list-style-type:upper-alpha}
.list-u-roman{list-style-type:upper-roman}
.list-custom-01 li::before{
	content:"\2731\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-custom-02 li::before{
	content:"\00BB\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-custom-03 li::before{
	content:"\25BA\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-custom-04 li::before{
	content:"\2605\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-custom-05 li::before{
	content:"\2714\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-custom-06 li::before{
	content:"\2718\00A0";
	font:1em/1em sans-serif;
	vertical-align:middle
}
.list-image li::before{
	background-color:transparent;
	background-image:url("search.svg");
	background-position: left center;
	background-repeat: no-repeat;
	background-size:1em 1em;
	content:"\00A0";
	padding-right:1em
}
.list-inline > li{
	display: inline-block;
	margin:0;
	padding: 0 0.35714em 0 0
}
.list-inline > li:last-child{padding-right:0}
embed,object,iframe,video{
	height:auto;
	margin:0;
	max-width:100%;
	padding:0
}
.responsive{
	height:0;
	margin:0.5em auto;
	overflow:hidden;
	padding:0;
	position:relative
}
.responsive embed,.responsive iframe,.responsive object,.responsive video{
	height:100%;
	left:0;
	position:absolute;
	top:0;
	width:100%
}
.responsive.ratio-16by9 {padding-bottom:56.25%}
.responsive.ratio-4by3{padding-bottom:75%}
figure,picture{margin:0.5em auto;page-break-inside:avoid}
figure img,figcaption p,picture img,picture p{margin:0}
figcaption,.notes{
	color:#444444;
	display:block;
	font:italic 12px/1.5em sans-serif
}
h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
	font-family:'Open Sans Condensed',sans-serif;
	font-weight:bold;
	margin:0.5em auto;
	padding:0;
	page-break-after:avoid
}
h1,.h1{
	/* 28px/21px */
	font-size:2em;
	line-height:0.75em
}
h2,.h2{
	/* 24px/21px */
	font-size:1.71428em;
	line-height:0.875em
}
h3,.h3{
	/* 20px/21px */
	font-size:1.42857em;
	line-height:1.05em
}
h4,.h4{
	/* 16px/21px */
	font-size:1.14285em;
	line-height:1.3125em
}
h5,.h5{
	/* 14px/21px */
	font-size:1em;
	line-height:1.5em
}
h6,.h6{
	/* 12px/21px */
	font-size:0.85714em;
	line-height:1.75em
}
	 .site-title{margin:0;padding:0}
header .site-subtitle{margin:0;padding:0}
hr{
	border:0;
	border-top:1px solid #000000;
	box-sizing:content-box;
	clear:both;
	display:block;
	height:0;
	margin:1em 0;
	overflow:visible;
	padding:0
}
img{
	background:transparent;
	height:auto;
	margin:0.5em 0;
	max-width:100%;
	padding:0;
	page-break-inside:avoid;
	vertical-align:middle;
	/* width:auto */
}
.img-responsive{
	display:block;
	width:100%
}
.img-bordered{
	background-color:#FFFFFF;
	border:1px solid #888888;
	padding:0.35714em
}
.img-circle{border-radius:50%}
.img-rounded{border-radius:0.35714em}
.img-thumbnail{display:inline-block;margin:0}
.img-grayscale{filter:grayscale(100%)}
.img-fl{float:left;margin-right: 1em}
.img-fr{float:right;margin-left: 1em}
.img-mw{max-width:75%}
ins{
	border-bottom:1px dotted;
	text-decoration:none
}
mark{
	background:#FFFF00;
	background:rgba(255,255,0,0.5)
}
p{margin:0.5em 0}
pre {
	background: #FFFFFF;
	border: 2px solid #B0B0B0;
	border-left: 10px solid #B0B0B0;
	display: block;
	padding: 0.75em;	
	page-break-inside: avoid
}
pre .b{color:#000080}
pre .c{color:#808080;font-style:italic}
pre .g{color:#008000}
pre .r{color:#800000}
q{quotes:'\201C''\201D''\2018''\2019'}
small,sub,sup{
	font-size:75%;
	line-height:0;
	position:relative
}
sub{bottom:-0.5em}
sup{top:-0.5em}
summary{display:list-item}
svg:not(:root){overflow:hidden}
/* @TABLES */
caption,col,table,tbody,td,tfoot,th,thead,tr{
	border:0 none;
	font:normal 14px/1.5em sans-serif;
	margin:0 auto;
	padding:0;
	page-break-after:auto;
	page-break-before:auto;
	page-break-inside:avoid;
	text-align:justify;
	vertical-align:baseline
}
table{
	border-collapse:collapse;
	border-spacing:0;
	color:inherit;
	empty-cells:show;
	margin:0.5em auto;
	width:100%
}
caption{
	color:inherit;
	font:bold 12px/15em sans-serif;
	text-align:center
}
thead,tfoot{page-break-inside:avoid}
thead{display:table-header-group}
tfoot{display:table-footer-group}
tbody{display:table-row-group}
tfoot th,tfoot tr td,thead th,thead tr td{font-weight:bold}
td,tr{page-break-inside:avoid}
td,th{padding:0.35714em}
table.center tr td, table.center tr th{text-align:center}
table.left tr td,table.left tr th{text-align:left}
table.right tr td,table.right tr th{text-align:right}
tr.center td,tr.center th{text-align:center}
tr.left td,tr.left th{text-align:left}
tr.right td,tr.right th{text-align:right}
td.center,th.center{text-align:center}
td.left,th.left{text-align:left}
td.right,th.right{text-align:right}
tr.bottom td,tr.bottom th, td.bottom{vertical-align:bottom}
tr.middle td,tr.middle th, td.middle{vertical-align:middle}
tr.top td,tr.top th,td.top{vertical-align:top}
/* Table Gray */
table.blue{
	background:#FFFFFF;
	border:1px solid #8EA9DB;
	color:#333333
}
table.blue tfoot th, table.blue tfoot tr td, table.blue thead th, table.blue thead tr td{
	background:#4472C4;
	color:#FFFFFF
}
table.blue tbody tr td{
	border-bottom:1px solid #8EA9DB
}
table.blue tbody tr:nth-of-type(odd) td{
	background-color:inherit
}
table.blue tbody tr:nth-of-type(even) td{
	background-color:#D9E1F2
}
table.blue.hover tbody tr:hover td{
	background:#113F91;
	color:#FFFFFF;
	cursor:pointer
}
table.gray{
	background:#FFFFFF;
	border:1px solid #808080;
	color:#333333
}
table.gray tfoot th, table.gray tfoot tr td, table.gray thead th, table.gray thead tr td{
	background:#333333;
	color:#FFFFFF
}
table.gray tbody tr td{
	border-bottom:1px solid #808080
}
table.gray tbody tr:nth-of-type(odd) td{
	background-color:inherit
}
table.gray tbody tr:nth-of-type(even) td{
	background-color:#E0E0E0
}
table.gray.hover tbody tr:hover td{
	background:#808080;
	color:#FFFFFF;
	cursor:pointer
}
table.green{
	background:#FFFFFF;
	border:1px solid #A9D08E;
	color:#333333
}
table.green tfoot th, table.green tfoot tr td, table.green thead th, table.green thead tr td{
	background:#70AD47;
	color:#FFFFFF
}
table.green tbody tr td{
	border-bottom:1px solid #A9D08E
}
table.green tbody tr:nth-of-type(odd) td{
	background-color:inherit
}
table.green tbody tr:nth-of-type(even) td{
	background-color:#E2EFDA
}
table.green.hover tbody tr:hover td{
	background:#4B8623;
	color:#FFFFFF;
	cursor:pointer
}
/* Table > ColGroup > Col Class*/
table .tcol-005{width:5%}
table .tcol-010{width:10%}
table .tcol-015{width:15%}
table .tcol-020{width:20%}
table .tcol-025{width:25%}
table .tcol-030{width:30%}
table .tcol-035{width:35%}
table .tcol-040{width:40%}
table .tcol-045{width:45%}
table .tcol-050{width:50%}
table .tcol-055{width:55%}
table .tcol-060{width:60%}
table .tcol-065{width:65%}
table .tcol-070{width:70%}
table .tcol-075{width:75%}
table .tcol-080{width:80%}
table .tcol-085{width:85%}
table .tcol-090{width:90%}
table .tcol-095{width:95%}
table .tcol-100{width:100%}
/* #TABLES */
/* @Form */
form{font:normal 14px/1.5em sans-serif}
input,optgroup,select,textarea{margin:0;width:100%}
button,input[type="radio"],input[type="checkbox"],input[type="button"],input[type="file"],input[type="reset"],input[type="submit"]{width:auto}
input[type="radio"],input[type="checkbox"]{margin:0 0.5em}
button,input{overflow:visible}
button,select{text-transform:none}
button,input,label,select,textarea{vertical-align:middle}
button,html input[type="button"],input[type="file"],input[type="reset"],input[type="submit"],label[for]{cursor:pointer}
[disabled],button[disabled],html input[disabled]{cursor:default;cursor:not-allowed}
input[type="search"].custom-search-01{
	background:url("search-dark.png") no-repeat 6px center #FFFFFF;
	border:1px solid;
	font-weight:bold;
	color:#888888;
	padding:3px 0 3px 27px;
	border-radius:0.35714em;
	box-shadow: 0 2px 1px rgba(128,128,128,.5) inset;
	transition: all 0.5s ease 0s;
	width:27px
}
input[type="search"].custom-search-01:hover{cursor: pointer}
input[type="search"].custom-search-01:focus {width: 100%}

fieldset{border:1px solid #888888;padding:0.5em}
legend{
	border:0;
	display:table;
	max-width:100%;
	padding:0 0.5em;
	white-space:normal
}
	
textarea{
	height:5em;
	max-height:5em;
	max-width:100%;
	overflow:auto;
	padding:0.5em;
	resize:none
}
/* #Form */
/* @GRID */
@media only screen{
	.box{clear:both;margin:0 auto;width:98%}
	.box::after{clear:both;content:"";display:table}
	.x-01{width:6.333%}
	.x-02{width:14.667%}
	.x-03{width:23%}
	.x-04{width:31.333%}
	.x-05{width:39.667%}
	.x-06{width:48%}
	.x-07{width:56.333%}
	.x-08{width:64.667%}
	.x-09{width:73%}
	.x-10{width:81.333%}
	.x-11{width:89.667%}
	.x-12{width:98%}
	[class*='x-']{
		float:left;
		display:inline;
		margin:0 1%;
		position:relative
	}
	[class*='x-'].off{background:none;border:0}
}
/* #GRID */

/* @OUTROS */
.clearfix{clear:both}
.clearfix::after{clear:both;content:"";display:table}
.counters .ul-count{counter-reset:uls}
.counters .ul-count li{counter-increment:uls 1;list-style:none inside}
.counters .ul-count li::before{content: counters(uls,"\002E")"\002E\00A0"}
.levels{counter-reset:n01}
.levels [class*="lv"]{padding:0.25em}
.levels .lv1 {
	background-color: #ddd;
	color: #000;
	counter-reset: n02;
	font-variant: small-caps
}
.levels .lv1::before{
	content:counter(n01,decimal)"\002E\00A0";
	counter-increment:n01
}
.levels .lv2{
	border-style:solid none;
	border-width:2px 0;
	color:inherit;
	counter-reset:n03;
	text-transform:capitalize
}
.levels .lv2::before{
	content:counter(n01,decimal)"\002E"counter(n02,decimal)"\002E\00A0";
	counter-increment:n02
}
.levels .lv3{
	border-bottom:1px dashed;
	color:inherit;
	counter-reset:n04;
	font-style:italic
}
.levels .lv3::before{
	content:counter(n01,decimal)"\002E"counter(n02,decimal)"\002E"counter(n03,decimal)"\002E\00A0";
	counter-increment:n03
}
.levels .lv4{
	border-bottom:1px solid;
	color:inherit;
	counter-reset:n05;
	font-weight:lighter;
	text-transform:uppercase
}
.levels .lv4::before{
	content:counter(n01,decimal)"\002E"counter(n02,decimal)"\002E"counter(n03,decimal)"\002E"counter(n04,decimal)"\002E\00A0";
	counter-increment:n04
}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.hyphens{hyphens:auto}
.pba-a{page-break-after:always}
.pba-n{page-break-after:avoid}
.pbb-a{page-break-before:always}
.pbb-n{page-break-before:avoid}
/* .pbi-a{page-break-inside:always} */
.pbi-n{page-break-inside:avoid}
/*
<hr>
<p><a class="aext" href="">Tutorial Link</a></p>
<div class="qr-code"></div>
*/
.qr-code{
	background:rgba(0,0,0,0) none repeat scroll 0 0;
	border:0 none;
	color:#000;
	display:inline-block;
	font:bold 1em/1.5em sans-serif;
	text-decoration:none;
	text-transform:uppercase;
	text-align:center;
	width:100%
}
.qr-code::before{
	content:"QR-CODE Link\003A";
	display:block;
	margin:.5em auto
}
.qr-code::after{
	content:url("http://chart.apis.google.com/chart?cht=qr&chl=*****&chs=150x150&chld=|0");
	display:block;
	margin:.5em auto;
	padding:0
}
[class*='svg-']::before{
	background-image:none;
	background-color:transparent;
	background-position: left center;
	background-repeat: no-repeat;
	background-size:1em 1em;
	content:"\00A0";
	padding-right:1em
}
.ss-01::before{content:"\1F50D\00A0"}
.ss-02::before{content:"\1F50E\00A0"}
[class*='ss-']{cursor:pointer}
.svg-search::before{background-image:url('search.svg')}


@media print {
	@page {
		margin:0.5cm;
	}
	/* p, h2, h3 {orphans: 3;widows: 3} */
	h2, h3 {page-break-after: avoid}
}
/* #OUTROS */
/**** Maux FrameWork - 2020-JAN-20 - by Maux Webmaster ****/
